window {
    margin: 0px;
    background-color: #282a36;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
}

#input {
    margin: 5px;
    border: none;
    color: #FFFFFF;
    background-color: #2b2e3b; /* Color más oscuro */
    border-radius: 30px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #282a36;
    border-radius: 30px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #282a36;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #FFFFFB;
} 

#entry:selected {
    background-color: #2b2e3b; /* Color más oscuro */
    border-radius: 20px;
    outline: none;
}

#entry:selected * {
    background-color: #2b2e3b; /* Color más oscuro */
    border-radius: 20px;
    outline: none;
}
